body {
  font-family: 'Open Sans Condensed', sans-serif;
  margin-top: 71px;
}

.max-viewport {
  min-height: 100vh;
}

.transparent {
  background-color: rgba(173, 138, 114, 0.7);
}

/* Parallax sections */
#welcome-section,
#contact,
#social {
  background: linear-gradient(rgba(139, 69, 19, 0.6), rgba(139, 69, 19, 0.6)), url('../images/JimHeadshot.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* CSS transitions */
.name {
  transition: all 2s ease-in-out;
}

.name:hover {
  transform: scale(1.3);
}

.headshot {
  transition: all 2s ease-in-out;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.headshot:hover {
  transform: scale(1.1);
}

#projects img {
  transition: all 2s ease-in-out;
}

#projects img:hover {
  transform: scale(1.1);
}

/* Contact form */
.contact-form {
  background-color: #91794a;
  padding: 10px;
}

.email,
.message {
  padding: 10px;
  border-radius: 10px;
  margin: 20px auto;
}

/* Jumbotron */
.jumbotron a {
  color: #847043;
  text-decoration: none;
}

.jumbotron a:hover {
  color: #ad905a;
}

/* Welcome section */
#welcome-section {
  background-color: #eae3d3;
}

#welcome-section h1 {
  text-align: center;
  padding: 20px;
  margin: 70px auto;
}

/* Accordion/professional areas section */
#accordion-section {
  background-color: #eae3d3;
}

#accordion-section .card-header a {
	text-decoration: none;
  color: #CED0CE;
}

#accordion-section .card-header {
	background-color: #ad533b;
}

/* Projects section */
#projects .project-tile {
  border-bottom: 2px solid #847043;
  padding-top: 10px;
}

#projects, #powerpoint a {
  color: #847043;
  text-decoration: none;
}

#projects, #powerpoint a:hover {
  color: #ad905a;
}

/* Photo bricks */
#photo-bricks {
  background-color: #eae3d3;
}

@media screen and (max-width: 300px) {
    #photo-bricks {
        display: none;
    }
}

#photo-bricks .text-holder {
	position: relative;
	overflow: hidden;
}

#photo-bricks img {
	opacity: 0.6;
	transition: transform 4s ease-in-out;
  width: auto;
}

#photo-bricks .text-holder:hover img {
	transform: scale(1.3);
	opacity: 1;
}

#photo-bricks .inner-text {
	position: absolute;
	left: 5%;
	bottom: 0;
	visibility: hidden;
}

#photo-bricks .text-holder:hover .inner-text {
	visibility: visible;
}

/* NOTE: The following code isn't working. */
/* Social Icons */
#facebook {
  color: #000;
}

#facebook:hover {
  color: #4267B2;
}

#twitter {
  color: #000;
}

#twitter:hover {
  color: #4FA1F2;
}

/* Goodreads Widget */
.gr_grid_container {
  /* customize grid container div here. eg: width: 500px; */
  width: 500px;
  margin: 20px auto;
}

.gr_grid_book_container {
  /* customize book cover container div here */
  float: left;
  width: 39px;
  height: 60px;
  padding: 0px 0px;
  overflow: hidden;
}
