.container {
    font-family: Source Code Pro, monospace;
    background-color: #ba9b62;
    margin: 20px;
    padding: 10px;
}
#Jim {
    float: right;
    border-radius: 20px;
    padding: 5px;
    margin: 5px;
}
.navbar {
    float: left;
    position: absolute;
    width: 150px;
    border-right: 1px solid black;
    margin-right: 5px;
    font-size: 12pt;
}
button {
    border: 2px solid black;
    border-radius: 10px;
    font-size: 14pt;
    padding: 10px;
    margin: 10px;
    background-color: #847043;

}
.article p {
    padding: 10px;
    margin: 10px;

}
.aniBox {
    background: #847043;
    width: 550px;
    height: 733px;
    position: absolute;
    text-align: center;
    padding: 30px;
    margin: 30px;
    border-radius: 25px;
    z-index: 1;
}
.photo1 {
    padding: 90px;
    margin: 50px;
    width: 600px;
    text-align: center;
}
.divider {
  text-align: center;
  margin: 20px 0 20px 0;
}
.section {
  border: 1px solid black;
  border-radius: 10px;
  margin: 5px;
  height: 200px;
}
.syllabi {
  border: 1px solid black;
  border-collapse: collapse;
  border-radius: 10px;
  height: 200px;
}
.aside {
  float: right;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  width: 350px;
  box-shadow: 3px 5px 0 0;
  margin: 20px;
}
